.hero-container{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-video{
    position: absolute;
    top: 0;
    width: 120%;
    height: 100%;
    object-fit: cover;
    z-index: -2;

    filter: brightness(1.3);
}

.hero-content{
    margin-left: 10%;
    position: relative;
}

.hero-content h1{
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 6px;
    color: #FDD017;
}

.hero-content button {
    background-color: #E60000;
    color: #FDD017;

    padding: 12px 35px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    border: none;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    margin-top: 20px;

    transition: transform 0.2s, background-color 0.2s;
}

.hero-content button:hover{
    background-color: black;
    transform: scale(1.05);
}

.accent-lines{
    width: 4px;
    height: 100px;
    background-color: white;
    position: absolute;
}