.hero-container{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-video{
    position: absolute;
    top: 0;
    width: 120%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.hero-content{
    margin-left: 10%;
    position: relative;
}

.hero-content h1{
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 6px;
    color: #FDD017;
}

.accent-lines{
    width: 4px;
    height: 100px;
    background-color: white;
    position: absolute;
}