.hero-container{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-video{
    position: absolute;
    top: 0;
    width: 120%;
    height: 100%;
    object-fit: cover;
    z-index: -2;

    filter: brightness(1.3);
}

.hero-content{
    margin-left: 10%;
    position: relative;
}

.hero-content h1{
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.1;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: Didot;
    letter-spacing: 6px;
    /* color: #FDD017; */
}

.hero-content button {
    background-color: black;
    padding: 12px 35px;
    border: none;
    text-transform: uppercase;
    /* letter-spacing: 4px; */
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.2s, background-color 0.2s;
}

/* 2. THE TEXT (The Shiny Gold Gradient) */
.hero-content button .btn-text {
    
    /* Font Settings */
    font-size: 25px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: Didot;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;

    /* THE GOLD GRADIENT MAGIC */
    background: linear-gradient(
    90deg,
    #bf953f,
    #fbf5b7,
    #b38728,
    #fbf5b7,
    #aa771c,
    #fbf5b7,
    #aa771c
    );

    /* 2. Clip the background to the text shape */
    -webkit-background-clip: text;
    background-clip: text;
    
    /* 3. Make the text transparent so the background shows through */
    color: transparent;
    
    /* 4. Make it pop with a subtle shadow */
    filter: drop-shadow(0px 0px 2px rgba(255, 230, 100, 0.6));
    font-weight: 8000;
}

/* .hero-content button:hover{
    background-color: black;
    transform: scale(1.05);
} */

.accent-lines{
    width: 4px;
    height: 100px;
    background-color: white;
    position: absolute;
}