@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
.navbar{
    /* positioning of the navbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    /* layout  */
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;

    /* styling */
    z-index: 100; /*Layers the navbar on the top of the video*/
    background: black;
}

.nav-left{
    display: flex;
    align-items: center;
    z-index: 2;
}

.menu-btn{
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
}

.hamburger-line{
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
    margin-bottom: 3px;
    /* THE SHINY GOLD GRADIENT */
    background: linear-gradient(
    90deg,
    #bf953f,
    #fbf5b7,
    #b38728,
    #fbf5b7,
    #aa771c,
    #aa771c
    );
    
    /* 4. Make it pop with a subtle shadow */
    filter: drop-shadow(0px 0px 2px rgba(255, 230, 100, 0.6));
    
    font-weight: 80;
    
    /* Optional: Add a subtle glow to make it look metallic */
    box-shadow: 0 0 2px rgba(191, 149, 63, 0.5);
}

.nav-center{
    position: absolute;
    left: 50%; /*moves to the center of the screen */
    transform: translateX(-50%); /*shift back by half its own width to center */
    text-align: center;
    z-index: 1;
}

.nav-center h1{
    /* color: #FDD017; Gold */
    margin: 0;
    font-size: 45px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: Didot; */
    /* font-family: 'Montserrat'; */
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
}

.profile-btn{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    /* color: #FDD017; */
}