/* 1. THE DRAWER (Hidden by default) */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;             /* Full width on mobile */
  height: 100%;            /* Full height */
  background: black;       /* Solid Black Background */
  display: flex;           /* Flexbox to center things */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out; /* Smooth Slide Animation */
  transform: translateX(-100%); /* Hides it off-screen to the left */
  z-index: 9999;           /* Sits on top of EVERYTHING */
  /* border-right: 1px solid #333; */
}

/* 3. THE "OPEN" STATE */
/* When this class is added by React, the drawer slides in */
.show-sidebar {
  transform: translateX(0); /* Brings it back to screen */
}

/* 4. HEADER (Close Button) */
.sidebar-header {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.close-btn {
  font-size: 2.5rem;
  background: transparent;
  border: none;
  /* color: #DC143C; */
  cursor: pointer;
  transition: 0.3s;
}

/* 5. THE LINKS */
.sidebar-links {
  list-style: none;
  padding: 0;
  text-align: center;
  /* margin-bottom: 900px; */
}

.sidebar-links li {
  margin: 25px;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  /* color: #fff; */
  text-decoration: none;
  transition: 0.2s;
}

.sidebar-links a:hover {
  padding-left: 10px; /* */
}