/* src/index.css */
:root {
  /* primary color palette */
  --primary-gold: #FFD700;
  --primary-red: #E60000;
  --bg-black: #050505;

  
  --glass-bg: rgba(20, 20, 20, 0.6);
  --glass-border: rgba(255, 255, 255, 0.1);
  --text-white: #FFFFFF;
  --text-gray: #A0A0A0;
}

.shiny-gold{
  background: linear-gradient(
    90deg,
    #bf953f,
    #fbf5b7,
    #b38728,
    #fbf5b7,
    #aa771c,
    #aa771c
  );

  /* 2. Clip the background to the text shape */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* 3. Make the text transparent so the background shows through */
  color: transparent;
  
  /* 4. Make it pop with a subtle shadow */
  filter: drop-shadow(0px 0px 2px rgba(255, 230, 100, 0.6));
  
  font-weight: 8000;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  background-color: black;
  color: var(--text-white);
  font-family: 'Inter', sans-serif; /* or Helvetica/Arial */
}

#root{
  max-width: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}

* { box-sizing: border-box; }