/* src/index.css */
:root {
  /* primary color palette */
  --primary-gold: #FFD700;
  --primary-red: #E60000;
  --bg-black: #050505;

  
  --glass-bg: rgba(20, 20, 20, 0.6);
  --glass-border: rgba(255, 255, 255, 0.1);
  --text-white: #FFFFFF;
  --text-gray: #A0A0A0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  background-color: black;
  color: var(--text-white);
  font-family: 'Inter', sans-serif; /* or Helvetica/Arial */
}

#root{
  max-width: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}

* { box-sizing: border-box; }